.no-text-decoration {
    text-decoration: none;
}

.u {
    &-sr-only {
        @include hidden();
    }
}

.app-link-button {
    @extend .govuk-link;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: inherit;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}
