{% extends "patterns/base_page.html" %}

{% block title %}Password required{% endblock %}

{% block body_class %}template-password-required{% endblock %}

{% block breadcrumbs %}
    {% include "patterns/molecules/breadcrumbs/breadcrumbs.html" %}
{% endblock %}

{% block content %}
<div class="app__width-container">

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="page-heading">
                    {% if page.title %}<h1 class="page-heading__heading govuk-heading-xl">Password required</h1>{% endif %}
                    {% if page.introduction %}<p class="page-heading__introduction govuk-body">{{ page.introduction }}</p>{% endif %}
                </div>

                <form action="{{ action_url }}" method="post">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">Please enter the password to proceed.</h1>
                        </legend>

                        {% csrf_token %}

                        {{ form.non_field_errors }}

                        {% if form.password.errors %}
                            {% include "patterns/atoms/text-input/text-input--error.html" with field=form.password type="password" %}
                        {% else %}
                            {% include "patterns/atoms/text-input/text-input.html" with field=form.password type="password" %}
                        {% endif %}

                        {% for field in form.hidden_fields %}
                            {{ field }}
                        {% endfor %}
                        {% include "patterns/atoms/button/button.html" with label="Continue" %}
                    </fieldset>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}
