{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block title %}{{ task.name }}{% endblock %}

{% block breadcrumbs %}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a
                class="govuk-breadcrumbs__link"
                href="{% url 'tracker:detail' %}">
                Regulation tracker
            </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a
                class="govuk-breadcrumbs__link"
                href="{% url 'tracker:tracked-task-list' category.slug %}">
                Regulations about {% firstof category.verbose_name category.name %}
            </a>
        </li>
    </ol>
</div>

{% endblock breadcrumbs %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="page-heading__heading govuk-heading-xl">
            {{ task.name }}

            <span class="govuk-caption-m">
                <a
                    href="{% url 'tracker:regulation-detail' category.slug task.pk %}"
                    class="govuk-link">
                    {{ task.regulation.name }}
                </a>
            </span>
        </h1>

        <p class="govuk-body">
            <strong class="govuk-tag">
                {{ task.regulation.get_importance_display }}
            </strong>
        </p>
    </div>
</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h2 class="page-heading__heading govuk-heading-l">
            About this task
        </h2>

        <div class="govuk-body">
            {{ task.description|richtext }}
        </div>

        <h3 class="page-heading__heading govuk-heading-m">
            Step by step process
        </h3>

        <ol class="govuk-list govuk-list--number">
            {% for step in task.get_tracked_steps %}
                <li>
                    {% include "patterns/molecules/tracker/tracked_step.html" %}
                </li>
            {% endfor %}
        </ol>
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="govuk-body">
            {% if not task.is_complete %}
                <form action="{% url 'tracker:tracked-task-mark-complete' category.slug task.pk %}" method="POST">
                    {% csrf_token %}
                    {% include "patterns/atoms/button/button.html" with label="Mark as complete" %}
                </form>
            {% endif %}
        </div>
    </div>

</div>

{% endblock %}
