{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags navigation_tags reading_time_tags static %}

{% block breadcrumbs %}
    {% include "patterns/molecules/breadcrumbs/breadcrumbs.html" %}
{% endblock %}

{% block content %}
<div class="app__width-container">

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                {% include "patterns/molecules/page-heading/page-heading.html"  %}

                {% include_block page.body %}

                {% include "patterns/molecules/relatedcontent/relatedcontent.html" with related_pages=page.related_pages.all %}
            </div>

            <div class="govuk-grid-column-one-third">
                {% sidebar %}
            </div>
        </div>
    </main>

{% endblock %}
